.pagetitle-section {
  padding: 4rem 0;
  position: relative;
  background-color: $dark;

  .container {
    position: relative;

    .pagetitle {
      color: #fff;
      font-size: 1.875rem;
      text-transform: uppercase;
      margin: 0 0 0.75rem 0;
    }
  
    .breadcrumb {
      li {
        a {
          color: #fff;
        }
  
        &.active {
          span {
            color: #fff;
            background-color: $primary;
            padding: 0.25rem 0.5rem;
            border-radius: 2px;
          }
        }
      }
    }
  }
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.9);
  }
}
.site-content {
  &.site-content--softwares {
    .pagetitle-section {
      background-image: url(../images/softwares-pagetitle-bg.webp);
      @include backgroundImageSetting(center center, cover, no-repeat);
    }
  }
}

@include media-breakpoint-up(md) {
  .pagetitle-section {
    padding: 4rem 0;
  }
}
@include media-breakpoint-up(lg) {
  .pagetitle-section {
    padding: 4.5rem 0;

    .container {
      .pagetitle {
        font-size: 2.25rem;
        margin: 0;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .pagetitle-section {
    padding: 5rem 0;
  }
}
@include media-breakpoint-up(xxl) {
  .pagetitle-section {
    padding: 6.25rem 0;

    .container {
      .pagetitle {
        font-size: 2.5rem;
      }
    }
  }
}
